<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>Index</title>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- Your Content -->
    <main>
     
        <!-- Display newest items posted here -->
        <div class="container-fluid">
            <div>
                <a href="/items/"><img src="/images/index.png" class="img-responsive center-block" style="max-height: 600px" alt="Index page image"/></a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>