<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <title>Index</title>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- Your Content -->
    <main>
        <div class="jumbotron text-center">
            <h1>HTV</h1>
            <p>Welcome 
                <% if(user) { %>
                    <%= user.FirstName %>
                <% } %>
            </p>
        </div>

        <!-- Display newest items posted here -->
        <div class="container-fluid">
            
        </div>
    </main>

    <!-- Footer -->
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>