<html>
    <head>
        <title>Insert Title</title>
        
    </head>

    <body>
        <h1>Title</h1>
        
        <hr/>

        <h2>Description</h2>

        <p>Life: <%= item.Description %></p>

        <h3>Price: Insert Price Here</h3>

        <h3>Author: Insert User Here</h3>

        <!-- Faux buy or Inquire button -->
        <div></div>


    </body>


</html>