<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <title>User</title>
</head>

<body>
    <!-- Header -->
    <header>
        <% include ../partials/header %>
    </header>

    <!-- Your Content -->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="well">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic text-center">
                            <img src="https://media.mnn.com/assets/images/2014/06/desert-rain-frog.png.653x0_q80_crop-smart.jpg" class="img-responsive" alt="Profile picture">
                        </div>
                        <!-- END SIDEBAR USERPIC -->

                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle text-center">
                            <div class="profile-usertitle-name">
                                <h3>Desert Rain Frog</h3>
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->

                        <!-- SIDEBAR BUTTONS -->
                        <div class="well text-center">
                            <button type="button" class="btn btn-danger btn-sm">Message</button>
                        </div>
                        <!-- END SIDEBAR BUTTONS -->

                        <!-- SIDEBAR MENU -->
                        <div class="list-group">
                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-cog"></i> Account Settings </a>

                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-list-alt"></i> Items </a>

                            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-flag"></i> Help </a>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>

                <!-- Content -->
                <div class="col-md-9">
                    <h1>Items Posted</h1>
                    <div class="well">
                        Meeeeeep
                    </div>
                </div>
                <!-- /Content -->
            </div>
        </div>
    </main>

    <!-- Footer -->
    <div>
        <% include ../partials/footer %>
    </div>
</body>

</html>